<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

    <ion-list>
        <ion-item>
          <ion-label>Filme</ion-label>
        <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de busca</ion-label>
          <ion-select placeholder="Select One" selected-text="Editora">
            <ion-select-option value="Assunto">Assunto</ion-select-option>
            <ion-select-option value="Editora">Editora</ion-select-option>
            <ion-select-option value="Autor">Autor</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button>Buscar</ion-button>
      </ion-list>

      <ion-card *ngFor="let filme of lista_filmes">
        <ion-item>
        <ion-avatar item-start>
        <img src="assets/imgs/marty-avatar.png">
        </ion-avatar>
        <h2 class="feed_title">{{filme.title}}</h2>
        <p>{{filme.release_date | date:'d/M/y'}}</p>
        </ion-item>
        <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">
        <ion-card-content>
        <p>{{filme.overview}}</p>
        </ion-card-content>
        <ion-row>
        <ion-col>
        <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        {{filme.popularity | number: '3.2-2'}} Popularity
        </button>
        </ion-col>
        <ion-col>
        <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        {{filme.vote_count}} Votes
        </button>
        </ion-col>
        <ion-col align-self-center text-center>
        <ion-note>
        {{filme.vote_average}} Avg
        </ion-note>
        </ion-col>
        </ion-row>
        </ion-card>


</ion-content>
